* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: grey;
  line-height: 1.5;
  font-family: "Lora", serif;
}

header {
  position: fixed;
  width: 100%;
  height: 8em;
  background-color: gold;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20em;
  /* overflow: hidden; */
}
/* .page-wrapper {
  position: relative;
} */
h1 {
  margin-left: 1.5em;
  font-family: "Cookie", cursive;
  font-size: 4em;
}
img {
  margin-top: 5px;
  width: 120px;
  height: auto;
}
a {
  font-family: "Lora", serif;
  margin: 0.5em;
  font-size: 1.25em;
  font-weight: 900;
  text-decoration: none;
  color: rgb(63, 60, 60);
}
#About-us {
  display: flex;
  flex-direction: column;
  padding: 3em;
}
h2 {
  margin-top: 4em;
  text-align: center;
  font-size: 2em;
}
.card-container h2 {
  margin-top: auto;
}
p {
  text-align: center;
  font-size: 1em;
}
.video {
  display: flex;
  justify-content: center;
}
#Services {
  display: flex;
  justify-content: space-around;
}
.card-container {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 10px;
  background-color: gold;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  width: 30em;
  height: 2em;
  margin: 0.5em 0 0.5em 0;
}
#submit {
  background-color: rgba(56, 101, 129, 0.712);
  border-radius: 10px;
  border: none;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
footer a {
  font-size: 1em;
}
footer p {
  text-align: unset;
  margin-bottom: -5px;
}
@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}
